<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.ico" />
    <title>Monstruario</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <main>

        <div id="apresentacao">
            <p>
                <span>
                    Olá, esse é o <b>MONSTRUARIO</b>, um mostruário de monstros! Sendo o terceiro e último projeto do segundo módulo do curso de desenvolvedor Full Stack!
                </span>
                
                <br>
                <br>
                <span>
                    Peço que faça um pouco de Role Play e imagine um mundo fictício, onde vivemos no ano de 2022, mas há três anos um abalo sísmico aconteceu.
                </span>
                
                <br>
                <span>
                    O tremor foi tão forte que desequilibrou a ordem natural do mundo, monstros começaram a surgir, portais estranhos se abriram.
                </span>
                
                <br>
                <br>
                <span>
                    As pessoas de todo o mundo se viam indefesas perante a essa invasão estranha, infelizmente não demorou muito para que os monstros começassem a caçar os seres humanos, muitos de nós morreram...
                </span>
                <br>
                <span>
                    Para acabar com os monstros, os governos se uniram e criaram o Monstruario, um sistema unificado de pesquisa para estudar os monstros e os seus comportamentos, para facilitar a caça deles.
                </span>
                
                <br>
                <span>
                    Pesquisadores ao redor do mundo se uniram a nós, mas ainda somos poucos, o sistema ainda está no começo, precisamos de toda a ajuda possível, por favor, se tiver dados sobre algum monstro, não hesite em cadastrar ele!
                </span>
                
            </p>
            <p id="final">-Presidente e Coordenador Geral do Monstruario-</p>
        </div>

        <div id="teste">

            <h1 id="titulo">Monstros cadastrados:</h1>

        <section id="monster">
            <% monstruario.forEach(monstro => { %>
                <% if (monstro.desastre == 1) { %>
                    <article class="flip" id="fraco">
                <% } else if (monstro.desastre == 2) { %>
                    <article class="flip" id="mediano">
                <% } else if (monstro.desastre == 3) { %>
                    <article class="flip" id="forte">
                <% } else if (monstro.desastre == 4) { %>
                    <article class="flip" id="muito_forte">
                <% } else if (monstro.desastre == 5) { %>
                    <article class="flip" id="ameaca">
                <% } else if (monstro.desastre == 6) { %>
                    <article class="flip" id="cataclisma">
                <% } %>
                    <article class="card front">
                        <div class="nome_monstro"> <%= monstro.nome %> </div>
                        <hr>
                        <div class="img_monstro"> <img src="<%= monstro.imagem %>" alt="Imagem do monstro <%= monstro.nome %> ">  </div>
                        <hr>
                        <div class="tipo_monstro"> 
                            <div class="verificacao"><%= monstro.raca %></div>
                            <div class="verificacao"><%= monstro.pesquisador %></div> 
                        </div>
                    </article>

                    <article class="card back">
                        <div class="nome_monstro"> <%= monstro.nome %> </div>
                        <hr>
                        <div class="back_detalhes">
                            <table class="tabela_index">
                                <tr class="tr_index">
                                  <thead class="thead_index">
                                    <th colspan="2">Detalhes</th>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>Sexo:</td>
                                          <td class="verificacao"><%= monstro.sexo %></td>
                                      </tr>
              
                                    <tr>
                                      <td>Raça:</td>
                                      <td class="verificacao"><%= monstro.raca %></td>
                                    </tr>
                                    
                                    <tr>
                                    <td>Desastre:</td>
                                      <% if (monstro.desastre == 1) { %>
                                          <td> Fraco </td>
                                      <% } else if (monstro.desastre == 2) { %>
                                          <td> Mediano </td>
                                      <% } else if (monstro.desastre == 3) { %>
                                          <td> Forte </td>
                                      <% } else if (monstro.desastre == 4) { %>
                                          <td> Muito forte </td>
                                      <% } else if (monstro.desastre == 5) { %>
                                          <td> Ameaça </td>
                                      <% } else if (monstro.desastre == 6) { %>
                                          <td> Cataclisma </td>
                                      <% } %>
                                    </tr>
              
                                    <tr>
                                      <td>Agressivo? </td>
                                      <% if (monstro.agressivo == false) { %>
                                          <td> Não </td>
                                        <% } else if (monstro.agressivo == true) { %>
                                            <td> Sim </td>
                                        <% } %>
                                    </tr>
                      
                                    <tr>
                                      <td>Idade:</td>
                                      <td><%= monstro.idade %></td>
                                    </tr>
                                  </tbody>
                                </tr>
                              </table> 
                        </div>
                        <hr>
                        <section id="atributos">
                            <div class="link"><a href="/detalhes/<%= monstro.id %>">Detalhes...</a></div>
                            <div class="link"><a href="/detalhes/<%= monstro.id %>">Editar...</a></div>
                            <div class="link"><a href="/detalhes/<%= monstro.id %>">Apagar...</a></div>
                        </section>
                        
                    </article>

                </article>

            <% }) %>

        </section>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>
 
</body>
<script>
    const cards = document.querySelectorAll(".flip");

    function flipCard() {
        this.classList.toggle("virar");
    }
    cards.forEach((card) => card.addEventListener("click", flipCard));

</script>
</html>