<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.ico" />
    <title>Projeto 3 - modulo 2</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <section id="monster">
            <% monstruario.forEach(monstro => { %>
                <% if (monstro.desastre == 1) { %>
                    <article class="flip" id="fraco">
                <% } else if (monstro.desastre == 2) { %>
                    <article class="flip" id="mediano">
                <% } else if (monstro.desastre == 3) { %>
                    <article class="flip" id="forte">
                <% } else if (monstro.desastre == 4) { %>
                    <article class="flip" id="muito_forte">
                <% } else if (monstro.desastre == 5) { %>
                    <article class="flip" id="ameaca">
                <% } else if (monstro.desastre == 6) { %>
                    <article class="flip" id="desastre">
                <% } %>
                    <article class="card front">
                        <div class="nome_monstro"> <%= monstro.nome %> </div>
                        <div class="img_monstro"> <img src="<%= monstro.imagem %>" alt="Imagem do monstro">  </div>
                        <hr>
                        <div class="tipo_monstro"> 
                            <div><%= monstro.raca %></div> 
                        </div>
                    </article>

                    <article class="card back">
                        <div class="nome_monstro"> <%= monstro.nome %> </div>
                        <div class="back_detalhes">
                            <table class="tabela_index">
                                <tr class="tr_index">
                                  <thead class="thead_index">
                                    <th colspan="2">Detalhes</th>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>Sexo:</td>
                                          <td><%= monstro.sexo %></td>
                                      </tr>
              
                                    <tr>
                                      <td>Raça:</td>
                                      <td><%= monstro.raca %></td>
                                    </tr>
                                    
                                    <tr>
                                    <td>Desastre:</td>
                                      <% if (monstro.desastre == 1) { %>
                                          <td> Fraco </td>
                                      <% } else if (monstro.desastre == 2) { %>
                                          <td> Mediano </td>
                                      <% } else if (monstro.desastre == 3) { %>
                                          <td> Forte </td>
                                      <% } else if (monstro.desastre == 4) { %>
                                          <td> Muito forte </td>
                                      <% } else if (monstro.desastre == 5) { %>
                                          <td> Ameaça </td>
                                      <% } else if (monstro.desastre == 6) { %>
                                          <td> Desastre </td>
                                      <% } %>
                                    </tr>
              
                                    <tr>
                                      <td>Agressivo? </td>
                                      <td><%= monstro.agressivo %></td>
                                    </tr>
                      
                                    <tr>
                                      <td>Idade:</td>
                                      <td><%= monstro.idade %></td>
                                    </tr>
                                  </tbody>
                                </tr>
                              </table> 
                        </div>
                        <hr>
                        <div class="link"><a href="/detalhes/<%= monstro.id %>">Detalhes</a></div>
                    </article>

                </article>

            <% }) %>

        </section>

    </main>

    <%- include('./partials/footer.ejs') %>
 
</body>
<script>
    const cards = document.querySelectorAll(".flip");

    function flipCard() {
        this.classList.toggle("virar");
    }
    cards.forEach((card) => card.addEventListener("click", flipCard));

</script>
</html>